body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: "Outfit";
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 15px;
}

/* Qr Code Section */
.qr-code {
    background-color: hsl(0 0 100%);
    margin: 8% 39%;
    padding: 1rem;
    border-radius: 5%;
}

.qr-code-img {
    width: 100%;
    border-radius: 5%;
}

@media (max-width: 600px) {
    .qr-code {
        margin: 40% 20%;
    }
}